.weather-app {
  background-color: lightgrey;
  max-width: 750px;
  margin: 25px;
  font-family: sans-serif;
  padding: 20px;
}

.top-container {
  background-color: lightblue;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.bottom-container {
  background-color: lightblue;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}

.search-engine {
  padding: 10px;
}

.search-box {
  height: 39px;
  width: 250px;
  border-radius: 5px;
}

.city {
  margin: 10px;
  font-size: 50px;
}

ul {
  list-style: none;
}

.current-date-time {
  padding-left: 15px;
}

img {
  display: block;
  margin: 0 auto;
  width: 75px;
}

#current-image {
  display: block;
  margin: 0 auto;
  width: 180px;
}

.currentTemp {
  text-align: right;
  font-size: 100px;
}

.fahrenheit {
  font-size: 20px;
  position: relative;
  top: -55px;
  left: -25px;
}

.current-conditions {
  padding: 15px 0 0 10px;
}

.conditions-value {
  padding: 0;
}

.five-day {
  text-align: center;
}

.forecasted-temp {
  margin: 20px;
  font-size: 20px;
}

.forecasted-image {
  padding-top: 15px;
}

.forecasted-day {
  font-size: 20px;
}

#humidity-icon {
  width: 28px;
  height: 28;
}

.conditions {
  font-size: 18px;
  text-align: center;
  font-style: italic;
  position: relative;
  bottom: 10px;
}

.current-temp-ul {
  padding: 0px;
}
