img {
  display: block;
  margin: 0 auto;
  width: 75px;
}

ul {
  list-style: none;
}

.weather-app {
  background-color: #ddedf5;
  border-radius: 5px;
  max-width: 800px;
  margin: 25px;
  font-family: "Cardo", serif;
  padding: 20px;
}

.top-container {
  background: linear-gradient(#c2e9fb, #b4d9fb);
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.bottom-container {
  background: linear-gradient(#c2e9fb, #b4d9fb);
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}

.search-engine {
  padding: 10px;
}

.search-box {
  height: 39px;
  width: 250px;
  border-radius: 5px;
}

.city {
  margin: 10px;
  font-size: 50px;
}

.current-date-time {
  padding-left: 15px;
  font-size: 20px;
}

.current-image {
  display: block;
  margin: 0 auto;
  width: 180px;
}

.currentTemp {
  font-size: 100px;
  text-align: right;
}

.fahrenheit {
  font-size: 20px;
  position: relative;
  top: -52px;
  left: -38px;
}

.current-conditions {
  padding: 15px 0 0 10px;
  font-size: 20px;
}

.conditions-value {
  padding: 0;
}

.five-day {
  text-align: center;
}

.forecasted-temp {
  margin: 20px;
  font-size: 20px;
}

.forecasted-image {
  padding-top: 15px;
}

.forecasted-day {
  font-size: 20px;
}

#humidity-icon {
  width: 28px;
  height: 28;
}

.conditions {
  font-size: 20px;
  text-align: center;
  font-style: italic;
  position: relative;
  bottom: 10px;
}

.conditions::first-letter {
  text-transform: capitalize;
}

.current-temp-ul {
  padding: 0px;
}

#temperature {
  position: relative;
  left: -17px;
}
